<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Light Control Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
    
      <div id="navbarBasicExample" class="navbar-menu">
        
      </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="tile is-ancestor">
        <div class="tile is-vertical">
          <div class="tile">
            <div class="tile is-parent is-vertical is-6">
              <article class="tile is-child box is-12 is-primary">
                <h1 class="title has-text-white">Estado</h1>
                <span class="is-large has-text-white" id="light-status">
                  Última actualización de la iluminación:<b> N/A </b>.
                </span>
              </article>
              <article class="tile is-child box is-12 is-primary">
                <h1 class="title has-text-white">Selección de color</h1>
                <div class="columns is-centered mt-4" id="picker">
                    <script>
                        var colorPicker = new iro.ColorPicker("#picker", {
                          color: "rgb(255, 0, 0)",
                          borderWidth: 3,
                          borderColor: "#fff",
                          layout: [
                            {
                              component: iro.ui.Wheel,
                            },
                            {
                              component: iro.ui.Slider,
                              options: {
                                sliderType: 'alpha'
                              }
                            }
                          ]
                        });
                    </script>
                </div>
                <div class="has-text-centered">
                  <button class="button is-rounded is-dark mt-4" onclick="changeColor()">Seleccionar color</button>
                  <script>
                    const socket = io()
 
                    socket.on('status', function(data) 
                    {
                      document.getElementById("light-status").innerHTML = 'Última actualización de la iluminación:<b> ' + data.payload + '</b>';
                      console.log(data);
                    });

                    socket.on('db_update', function(data) 
                    {
                      $("#audit tbody").prepend("<tr> <td> "+data.usuario+"</a></td> <td>"+data.cambio+"</td> <td>"+data.desc+"</td> <td>"+data.fecha+"</td> </tr>");
                    });

                    function changeColor()
                    {
                      hex = colorPicker.color.rgba;
                      console.log(hex);
                      var color_string = hex.r + ',' + hex.g + ',' + hex.b + ','  + hex.a
                      socket.emit('color', color_string);
                    }
                    function effects(type){
                      socket.emit('effect', type);
                    }

                    function redirect(){
                      socket.emit('redirect', "go");
                      console.log("redirecting..");
                    }
                  </script>  
                </div>
              </article>
              <article class="tile is-child box is-12 is-primary">
                <div class="tile is-ancestor">
                  <div class="tile is-vertical is-12">
                    <div class="tile">
                      <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification wrapper has-text-white" onclick="effects('rainbow')">
                          <p class="title">Arcoíris</p>
                          <p class="subtitle">El más llamativo.</p>
                        </article>
                        <article class="tile is-child notification pulse has-text-white" onclick="effects('pulse')">
                          <p class="title">Pulso</p>
                          <p class="subtitle">El clásico.</p>
                        </article>
                        <article class="tile is-child notification " onclick="effects('cylon')">
                          <div class="scanner"></div>
                          <p class="title wipe">Cylon</p>
                          <p class="subtitle">Hipnotizante.</p>
                      </article>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="tile is-parent is-vertical is-6">
              <article class="tile is-child box is-12 is-primary">
                <div class="table-container">
                  <table class="table is-striped is-hoverable is-fullwidth" id="audit">
                    <thead>
                      <tr>
                        <th>Usuario</th>
                        <th>Cambio</th>
                        <th>Descripción</th>
                        <th>Fecha</th>
                      </tr>
                    </thead>
                      <tbody>
                      {% for row in updates %}
                        <tr>
                          <td>{{ row.User.username }}</a></td>
                          <td>{{ row.Updates.title }}</td>
                          <td>{{ row.Updates.content }}</td>
                          <td>{{ row.Updates.date_updated }}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                  </table>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
